.card-cont{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color:var(--brown);
  box-shadow: var(--shadow);
  flex-grow: 0;
}

.card-cont:hover{
  transform: scale(1.1);
  filter: brightness(1.2);
  cursor: pointer;
}

.card-cont:active{
  filter: brightness(0.9);
}

.card-cont img{
  width: 100px;
}
.card-cont div{
  margin-top: 10px;
  font: 120%;
  background-color: red;
  border: 1px solid gold;
  border-radius: 5px;
  background-color:peachpuff;
  font-weight: bold;
  font-size: 80%;
}