.App {
  text-align: center;
  display: grid;
  grid-template: 
    "header" 30px
    "main" 1fr
    "footer" 50px / 1fr;
  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --brown: #442b09;
  height: 100vh;
}